@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

html,
body {
  height: 100%;
  color: var(--font-color-primary);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 40px;
  --border-radius-box: 5px;
  --font-color-primary: #f2f3f4;
  --font-color-secondary: #323232;
  --accent-primary: #f2f3f4;
  --accent-secondary: #323232;
  --background-primary: #1d1d1c;
  --background-opacity: rgba(0, 0, 0, 0.1);
  --font-family-primary: "Montserrat", sans-serif;
  --font-family-secondary: "PT Sans", sans-serif;
}

* {
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-secondary);
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-style: normal;
  padding: 0 var(--spacing-3);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

h1 {
  font-size: 6rem;
  letter-spacing: 0.27px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-size: 1.25rem;
}

p {
  font-family: var(--font-family-secondary);
  font-weight: normal;
  font-style: normal;
  padding: 0 var(--spacing-3);
  line-height: 1.5rem;
}

a {
  color: var(--font-color-primary);
  text-decoration: none;
  padding: var(--spacing-1) 0;
  margin-right: auto;
}

li,
ul {
  list-style: none;
  padding: var(--spacing-3);
  margin-top: 0;
}

ul {
  padding-top: 0;
}

li {
  position: relative;
  padding: var(--spacing-2);
  padding-left: 2rem;
}

.container {
  position: relative;
  width: 100%;
  padding: var(--spacing-5) 72px;
  justify-content: center;
  margin: 0 auto;
}

.container::before,
.container::after {
  content: none;
}

.container-item {
  padding: var(--spacing-4);
  flex-direction: column;
}

.container-item img {
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: block;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 1.3888888889vw;
  overflow: visible;
  text-wrap: nowrap;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  grid-column: 11/14;
  grid-row-start: 2;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  grid-column: 14/17;
  grid-row-start: 2;
}

.footer-card {
  display: flex;
  flex-direction: row;
  grid-column: 4 / 10;
}

.footer-card img {
  margin: auto;
  width: 4rem;
  height: 4rem;
  filter: grayscale(100%);
}

.nav-contact {
  display: none;
}

.footer-end {
  align-items: center;
  justify-content: space-between;
  margin: auto;
  position: relative;
}

.footer-end::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  top: 5px;
  left: 5%;
  background-color: var(--font-color-primary);
}

footer .container-item {
  padding: 0;
}

.item {
  overflow: visible;
  text-wrap: nowrap;
}

.footer-end .item:nth-child(1) {
  grid-column: 1 / 3;
}

.footer-end .item:nth-child(2) {
  grid-column: 4 / 6;
}

.footer-end .item:nth-child(3) {
  grid-column: 11 / 13;
}

.footer-end .item:nth-child(4) {
  grid-column: 14 / 17;
}

.marquee-wrap {
  display: flex;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.marquee {
  font-size: 15vw;
  padding-right: 0.25em;
  animation: marqueeLoop 5s infinite linear;
}

@keyframes marqueeLoop {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-3);
}

.three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-3);
}

.four-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-3);
}

.span-column-2 {
  grid-column: 1 / span 2;
  padding-bottom: 0;
}

.span-column-3 {
  grid-column: 1 / span 3;
  padding-bottom: 0;
}

.background-coloured {
  background-color: var(--background-secondary);
  padding-bottom: var(--spacing-4);
  border-radius: var(--border-radius-box);
}

.background-gradient {
  background: var(--gradient-pink-purple);
  border-radius: var(--border-radius-box);
}

.background-alt {
  background-color: var(--background-opacity);
  border-radius: var(--border-radius-box);
}

.text-center-align,
.text-center-align .button {
  text-align: center;
  margin: auto;
}

.blur-box {
  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-box);
  width: 100%;
  margin: auto;
  z-index: 10;
}

#services .blur-box {
  height: 12.5rem;
  width: 100%;
  padding: var(--spacing-4);
}

.author {
  display: flex;
}

.author img {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  filter: grayscale(100%);
}

.author h3,
.author h4 {
  font-weight: bold;
}

.logo {
  white-space: nowrap;
  margin: 0;
  margin-left: var(--spacing-3);
  display: flex;
  align-items: center;
}

.logo a {
  padding-right: 0;
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 0.7s ease-in-out;
}

nav.scrolled .logo a {
  max-width: 200px;
  transition: max-width 0.7s ease-in-out 0.3s;
}

.logo img {
  opacity: 1;
  width: 4rem;
  height: 4rem;
  transition: opacity 0.3s ease-in-out 0.7s;
  position: absolute;
}

nav.scrolled .logo img {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo-svg {
  margin: 0;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

footer .logo-svg {
  margin-left: var(--spacing-1);
}

#hero {
  overflow: hidden;
}

#hero .container {
  padding-top: 76px;
  max-height: 818px;
  height: 100vh;
}

#hero .logo-svg {
  display: block;
  margin: auto;
  transition: none;
}

.hero-text {
  margin: auto;
  margin-top: 15vh;
}

video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-76px);
  display: block;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.75);
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.1s;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s, transform 0.5s;
}

body.loaded .fade-in {
  opacity: 1;
  transform: translateY(0);
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: var(--background-primary);
}

.gradient-bar {
  background-image: var(--gradient-yellow-purple);
  height: var(--spacing-1);
  z-index: 10;
  position: relative;
  width: 100%;
  top: 0;
}

.name {
  text-wrap: nowrap;
  margin: 0;
  font-weight: bold;
}

.role {
  margin: 0;
}

.italic {
  margin: 0;
  font-style: italic;
}

.text-gradient-background {
  background: var(--gradient-yellow-purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-underline a {
  position: relative;
  display: inline-block;
}

.hover-underline a::after {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  transform: scaleX(0);
  height: 1px;
  bottom: 5px;
  left: 16px;
  background-color: var(--font-color-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline.logo a::after {
  width: 100%;
}

.hover-underline a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navigation-items {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-left: auto;
  margin-right: 3rem;
  justify-content: space-between;
}

.navigation-item {
  margin: var(--spacing-1);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.nav-logo {
  display: none;
}

/*a:focus,
a:hover {
  border-radius: var(--border-radius-box);
  background: var(--gradient-pink-purple);
  text-decoration: none;
}*/

.navigation-item.icon-chevron-right::after {
  display: none;
}

.navigation-items .logo-svg {
  display: none;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--accent-primary);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: var(--border-radius-box);
  margin-top: var(--spacing-3);
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  transition: all 0.1s;
}

.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
  transition: opacity 0.5s, visibility 0.2s, transform 0.5s;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: calc(var(--spacing-1) * -1);
  height: var(--spacing-1);
  min-width: 200px;
  z-index: -1;
}

.dropdown-content::after {
  content: "";
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: var(--accent-primary);
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -7px;
  z-index: -1;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: var(--font-color-secondary);
}

.dropdown-content a:hover {
  color: var(--font-color-primary);
  background-color: var(--background-secondary);
}

input,
textarea {
  box-sizing: border-box;
  border: 2px solid var(--font-color-secondary);
  color: var(--font-color-primary);
  position: relative;
  border-radius: var(--border-radius-box);
  padding: var(--spacing-3);
  margin-left: var(--spacing-3);
  width: 90%;
  outline: none;
  background-color: var(--background-opacity);
  font-family: var(--font-family-secondary);
}

label {
  padding-left: var(--spacing-3);
}

input:focus,
textarea:focus {
  border: 2px solid var(--accent-primary);
}

.contact-items,
.footer-navigation-items {
  display: flex;
  flex-direction: column;
}

.footer-navigation-item {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.footer-navigation-items a {
  padding-right: var(--spacing-3);
}

.footer-social-icons {
  margin-top: var(--spacing-3);
  margin-left: var(--spacing-1);
}

.footer-social-icons a {
  color: var(--accent-primary);
  font-size: 1.5rem;
  padding: 0;
  margin-left: var(--spacing-2);
}

.footer-social-icons a:hover {
  color: var(--accent-primary);
  background: none;
}

#contact .icon-before::before {
  font-size: 1.5rem;
  padding-left: 0;
  padding-right: calc(2 * var(--spacing-3));
  color: var(--accent-primary);
}

.contact-details {
  width: 80%;
  margin: auto;
}

a {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  display: block;
}

.copyright p {
  margin: 0;
}

button,
a.button {
  border-radius: 20px;
  border: 1px solid var(--font-color-primary);
  color: var(--font-color-primary);
  justify-content: center;
  margin: var(--spacing-3);
  display: flex;
  padding: var(--spacing-1) 0;
  width: 8rem;
  text-align: center;
  align-items: center;
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  background: transparent;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  color: var(--font-color-secondary);
  background-color: var(--accent-primary);
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  background-position: top left 100%;
}

.button.icon-after::after {
  padding: 0;
  font-size: 1rem;
  margin-left: var(--spacing-2);
}

#skills i {
  margin: auto;
  font-size: 3rem;
}

.team-member-image {
  position: relative;
}

.team-member-image img {
  filter: grayscale(100%);
}

.feedback-author {
  font-weight: bold;
  border-bottom: solid 2px var(--accent-secondary);
  padding-bottom: var(--spacing-3);
}

.feedback-last {
  border-bottom: solid 2px var(--accent-primary);
  padding-bottom: 16px;
}

.team-social {
  color: var(--accent-primary);
}

.team-social:hover,
.team-social:active {
  color: var(--accent-primary);
  text-decoration: none;
}

#stats .icon-before::before {
  position: relative;
  font-size: 3rem;
  display: flex;
  color: inherit;
}

#stats .container-item {
  padding: var(--spacing-2);
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  text-wrap: nowrap;
}

#stats .container-item .icon-before {
  display: flex;
  justify-content: center;
  max-width: 100px;
  margin-right: var(--spacing-1);
  margin-left: auto;
}

.icon {
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  padding: 0 var(--spacing-2);
}

.icon-before::before,
.icon-after::after {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  padding: 0 var(--spacing-3);
  color: var(--accent-secondary);
}

.button.icon-after::after {
  padding: 0;
}

.icon-people::before {
  content: "\f233";
}

.icon-person-add::before {
  content: "\e7fe";
}

.icon-view::before {
  content: "\e8f4";
}

.icon-view:hover::before {
  content: "\f108";
}

.icon-clipboard::before {
  content: "\e179";
}

.icon-support::before {
  content: "\f0e2";
}

.icon-wifi::before {
  content: "\e63e";
}

.icon-cog::before {
  content: "\e8b8";
}

.icon-code::before {
  content: "\e86f";
}

.icon-network::before {
  content: "\e9f4";
}

.icon-manual::before {
  content: "\e0e0";
}

.icon-phone::before {
  content: "\e0b0";
}

.icon-email::before {
  content: "\e158";
}

.icon-office::before {
  content: "\ea40";
}

.icon-chevron-right::after {
  content: "\e5cc";
  transition: transform 0.1s linear;
  color: inherit;
}

.icon-chevron-right.active::after {
  content: "\e5cc";
  transform: rotate(90deg);
}

.icon-chevron-left::after {
  content: "\e5cb";
}

.icon-expand::after {
  content: "\e145";
}

.icon-expand.active::after {
  content: "\e15b";
}

.icon-arrow-right::before {
  content: "\e5cc";
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  padding-left: 0;
  color: var(--accent-primary);
}

.skill-wrap {
  text-align: center;
  margin: auto 0;
}

.skill-wrap span:first-child {
  z-index: 2;
  display: block;
}

.skill-wrap span:last-child {
  z-index: 1;
  display: block;
  padding: var(--spacing-1) 0 0 0;
  color: var(--font-color-primary);
  margin: auto;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
.skill-wrap:hover span:last-child,
.skill-wrap:focus span:last-child {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
}

/* Responsive design for mobile */
@media (max-width: 768px) {
  .logo {
    color: var(--accent-primary);
  }

  .container {
    padding: var(--spacing-5) 16px;
  }

  .grid,
  .grid.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2.3333333333vw;
  }

  .footer-socials {
    grid-column: 5/7;
    grid-row-start: 2;
  }

  .footer-contact {
    grid-column: 1/4;
    grid-row-start: 2;
  }

  .footer-end {
    display: inline-flex;
    flex-direction: column;
    grid-row-start: 3;
    grid-column: 1 / span 16;
  }

  .nav-contact {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-5);
    margin-left: 80vw;
  }

  .navigation-items .nav-contact a {
    font-size: 1rem;
  }

  #hero {
    padding-top: 0;
  }

  #hero .container {
    min-height: 100vh;
    height: auto;
    padding-top: var(--spacing-3);
  }

  .hero-text {
    width: 100%;
    max-width: 100%;
    margin-top: 25vh;
  }

  .hero-image {
    display: none;
  }

  html {
    font-size: 90%;
  }

  h2.logo a {
    margin-left: 0;
  }

  .burger-menu {
    cursor: pointer;
    margin: auto;
    margin-right: var(--spacing-3);
    align-items: center;
    padding: 24px;
    color: black;
    background-color: white;
    border-radius: 100%;
  }

  .icon-burger {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: inline-block;
  }

  .icon-burger::before,
  .icon-burger::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .icon-burger::before {
    content: "\e5d2";
    color: inherit;
    opacity: 1;
  }

  .icon-burger::after {
    content: "\e5cd";
    color: inherit;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .icon-burger.active::before {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  .icon-burger.active::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .navigation-items {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--background-primary);
    width: 100%;
    height: 100vh;
    padding: 0;
    z-index: -1;
    align-items: center;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    padding-top: 33%;
  }

  .navigation-item {
    padding: var(--spacing-2) 0;
    margin: 0;
    font-size: 1rem;
  }

  .navigation-items a {
    width: 85vw;
    display: flex;
    font-size: 3rem;
    margin: 0;
    align-items: center;
    padding-bottom: 0;
  }

  a.navigation-item:focus,
  a.navigation-item:hover {
    background: none;
    border-radius: 0;
    text-decoration: none;
  }

  .navigation-items.nav-open {
    transform: translateY(0);
    transition: transform 0.3s ease-out 0.1s;
  }

  .navigation-item.icon-chevron-right:after {
    display: inline-block;
    margin-left: auto;
    position: relative;
    padding: 0;
  }

  .navigation-item.button {
    margin-top: calc(var(--spacing-3));
  }

  .navigation-items .logo-svg {
    display: flex;
    position: absolute;
    margin-top: auto;
    bottom: 12.5vh;
    left: calc(2 * var(--spacing-3));
    z-index: -1;
    /* display: flex;
    position: relative;
    margin-top: auto;
    bottom: 15vh;
    z-index: -1;*/
  }

  .container.two-column,
  .container.three-column,
  .container.four-column {
    grid-template-columns: 1fr;
    padding: var(--spacing-4);
  }

  .container-item {
    padding: var(--spacing-3);
  }

  .span-column-2,
  .span-column-3 {
    grid-column: 1 / span 1;
  }

  #skills .three-column {
    gap: 3rem;
  }

  .footer-navigation-items {
    display: flex;
    flex-direction: column;
  }

  .footer-card {
    margin-bottom: 3rem;
    grid-column: 1 / 7;
  }

  .footer-contact {
    grid-column: 1 / 4;
  }

  .footer-socials {
    grid-column: 5 / 7;
  }

  .footer-end .item:nth-child(1) {
    display: none;
  }

  .footer-end .item:nth-child(2) {
    grid-column: 1 / 5;
  }

  .footer-end .item:nth-child(3) {
    display: none;
  }

  .footer-end .item:nth-child(4) {
    grid-column: 1 / 5;
  }
}

/* Responsive design for tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .container.two-column,
  .container.three-column,
  .container.four-column {
    grid-template-columns: repeat(2, 1fr);
  }
}
